.loading-overlay {
    position: relative;
    /* FIXME: it's not quite in the center (both horizontally and vertically) of the video div element */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* z-index: 1000; */
}
