:host {
  position: relative;
  display: inline-block;
}

.add-camera-button {
  color: white;
  background-color: #1c7fe9;
}

.right-buttons-container {
  /* position: relative; */
  position: fixed; /* Keeps the container in a fixed position relative to the viewport */
  bottom: 2rem;    /* Distance from the bottom of the screen */
  right: 2rem;     /* Distance from the right side of the screen */
  display: flex;   /* Flexbox to align buttons */
  flex-direction: column; /* Stack buttons vertically */
  gap: 1rem;       /* Add spacing between buttons */
}

.config-button-container {
  position: fixed; /* Fixed position relative to the viewport */
  bottom: 2rem;    /* Distance from the bottom of the screen */
  left: 2rem;      /* Distance from the left side of the screen */
}

.close-button-container {
  position: fixed;
  bottom: 2rem;
  left: 46%;
}

/* Common tooltip styling */
.tooltip {
  position: absolute;        /* Tooltip positioning relative to the button */
  /* background-color: #333;    /* Dark background for the tooltip */
  /* color: #050404; */
  color: white;
  padding: 0.5rem;           /* Spacing inside the tooltip */
  border-radius: 0.3rem;     /* Rounded corners for the tooltip */
  font-size: 1rem;
  white-space: nowrap;       /* Prevent tooltip text from wrapping */
}

/* Tooltip for left-aligned buttons */
.tooltip-right {
  left: 100%;          /* Position the tooltip to the right of the button */
  bottom: -1.22rem;    /* Center vertically relative to the button */
  margin-left: 0.5rem; /* Space between the button and tooltip */
}

/* Tooltip for right-aligned buttons */
.tooltip-left {
  right: 100%;        /* Position the tooltip to the left of the button */
  bottom: -1.05rem;   /* Center vertically relative to the button */
  margin-right: 2rem; /* Space between the button and tooltip */
}

.add-camera-tooltip {
  margin-right: 2.5rem;
}

.play-recording-button, .anonymyze-button, .recording-button, .analytics-button {
  left: 0.475rem;
}
