<div class="video-container-root">

  <div *ngIf="cameraIDs$.value.length == 0" class="no-cameras">
    <p>No Cameras connected</p>
  </div>

  <div id="video-container" [class.hidden]="cameraIDs$.value.length == 0">
    <ng-container *ngFor="let client of videoFeeds; let i = index">
      <app-loading-indicator
        [class.hidden]="!client.loading"
        [toggle$]="client.indicator.toggle$">
      </app-loading-indicator>
      <video
        #videoElem
        [attr.id]="'video-' + i"
        [class.hidden]="!client.active"
        muted>
      </video>
    </ng-container>
  </div>

  <app-controls
    [cameraIDs]="cameraIDs$ | async"
    (cameraAdded)="addCamera($event)"
    (anonymizationToggled)="toggleAnonymyzedStreams($event)"
    (camerasClosed)="stopAllStreams()" />
</div>
