.video-container-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.no-cameras {
  align-self: center;
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#video-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* position: relative; */
  gap: 25px;
  width: 90%;
  height: 90%;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#video-container.one {
  display: flex;
}
#video-container.one video {
  /* margin-top: auto; */
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* Two Cameras - 45% width each, side by side */
#video-container.two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex !important;
  justify-content: center;
  gap: 22px;
  width: 100%;
  height: 80%; */
}
/* #video-container.two video {
  width: 45%;
  height: auto;
} */

/* Three Cameras - Two on top, one below */
#video-container.three {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  width: 100%;
}
#video-container.three video {
  width: 45%;
  height: auto;
}
#video-container.three video:nth-child(3) {
  width: 45%;
}

/* Four Cameras - 2x2 Grid */
#video-container.four {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 22px;
  width: 90%;
}
#video-container.four video {
  width: 100%;
  height: auto;
}
