.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* No Cameras */
.no-cameras {
  text-align: center;
  font-size: 24px;
}

/* Single Camera - Takes 80% of the screen */
.single-camera video {
  width: 80%;
  height: 80%;

  /* FIXME: this is sort of in the middle, vertically, but it is glued to the left side of the screen */
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Two Cameras - 45% width each, side by side */
.two-cameras {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}
.two-cameras video {
  width: 45%;
  height: auto;
}

/* Three Cameras - Two on top, one below */
.three-cameras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}
.three-cameras video {
  width: 45%;
  height: auto;
}
.three-cameras video:nth-child(3) {
  width: 90%;
  margin-top: 10px;
}

/* Four Cameras - 2x2 Grid */
.four-cameras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 80%;
}
.four-cameras video {
  width: 100%;
  height: auto;
}

/* TODO: this isn't quite on top of the video, but that might not be the button's fault... */
.close-button {
  /* position: absolute; */
  top: 2rem;
  right: 2rem;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
}
