<div
  class="main-button-container"
>
<!-- (mouseenter)="showHoverTooltip()"
  (mouseleave)="hideHoverTooltip()" -->
  <button
    mat-icon-button
    class="main-button"
    [@spin]="spinState"
    (click)="toggleButtons()"
  >
    <!-- This should be a plus icon -->
    <mat-icon>{{ isExpanded ? 'close' : 'menu' }}</mat-icon>
  </button>

  <!-- <div
    class="hover-tooltip"
    *ngIf="!isExpanded && hoverTooltipVisible"
    [@hoverTooltip]="hoverTooltipVisible ? 'visible' : 'hidden'"
  >
    Connect camera
  </div> -->
</div>

<div
  *ngFor="let button of [1, 2, 3]; let i = index"
  class="small-button-container"
  [style.bottom.px]="(i + 1) * 60"
>
  <button
    mat-mini-fab
    color="accent"
    class="small-button"
    [@popOut]="isExpanded ? 'visible' : 'hidden'"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <!-- <div *ngIf="isExpanded" class="persistent-tooltip">Button {{ button }}</div> -->
</div>

<!-- View Playback button (disabled?) (play icon) -> leading to a dialog with the current videos listed (with paging),
     which will redirect to a new page /recordings with a single video output element with play, pause, forward, rewind and back buttons -->

<!-- Add/Edit notification channels (bell icon) -> leading to a dialog with all the possible notification options (popup, webhook, email) -->

<!-- Start analysis (analytics icon) -> this will start analysis for all present cameras -->

<!-- Start recording (disabled?) (red circle icon) -> leading to a dropdown? menu of current cameras -->

<!-- Privacy mode (anonymise faces) button -->
