/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: gray; }

.notification-snackbar {
    min-height: 15vh;
    max-width: 90vw;
    --mdc-snackbar-supporting-text-size: 1rem;
}

.notification-alert {
    --mdc-snackbar-container-color: #990000; /* dark red */
}
